<div>

  <form class="form-signin" style="min-width:500px" method="post" action="/articles/add">
    <h1 class="h3 mb-3 font-weight-normal">添加文章</h1>
  {{#if article._id}}
    <input type="text" value="{{article._id}}"  class="form-control"  name="_id" >
  {{/if}}
    <input type="text" value="{{article.title}}" id="text" class="form-control" placeholder="标题" name="title">

    <textarea class="form-control"   name="content" rows="3">{{article.content}}</textarea>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">提交注册</button>
  </form>
</div>