<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
  <h1>不输入内容，回车不会跳转， 输入内容才会跳转</h1>
<form action="/login" method="get">
    <input type="text" name="username">
    <input type="submit" name="登录">
</form>
</body>
</html>