<h1>{{title}}</h1>

<div class="form-grid">
  <form class="form-signin f2">
  <h1 class="h3 mb-3 font-weight-normal">登录页面</h1>
  <label for="inputEmail" class="sr-only">登录页面</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="登录账号" required="" autofocus="">

  <label for="inputPassword" class="sr-only">登录密码</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="登录密码" required="">

  <button class="btn btn-lg btn-primary btn-block" type="submit">提交登录</button>
</form>
</div>